# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Update notebooks manually, if necessary
TMP_NOTEBOOKS

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

prompts/

.claude/
